<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');
// Copie este arquivo para database.php e preencha com suas credenciais
$active_group = 'default';
$active_record = TRUE;
$db['default']['hostname'] = 'localhost';
$db['default']['username'] = 'USUARIO_DO_BANCO';
$db['default']['password'] = 'SENHA_DO_BANCO';
$db['default']['database'] = 'NOME_DO_BANCO';
$db['default']['dbdriver'] = 'mysqli';
$db['default']['dbprefix'] = '';
$db['default']['pconnect'] = FALSE;
$db['default']['db_debug'] = FALSE;
$db['default']['cache_on'] = FALSE;
$db['default']['cachedir'] = '';
$db['default']['char_set'] = 'utf8';
$db['default']['dbcollat'] = 'utf8_unicode_ci';
$db['default']['swap_pre'] = '';
$db['default']['autoinit'] = TRUE;
$db['default']['stricton'] = FALSE;
